body {
    font: normal 15pt Arial;
    background-color: rgb(106, 106, 251);
}

h1 {
    text-align: center;
    color: white;
}

section {
    background-color: white;
    width: 400px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.255);
}

footer {
    text-align: center;
    color: white;
}